<% layout('layout/boilerplate') %>
<body>
    <h3>Post new property:</h3>
    <form method="post" action="/listings">
        <input  name="list[title]" type="text" placeholder="enter title">
        <br></br>
        <textarea name="list[description]" placeholder="enter description"></textarea>
        <br></br>
        <input  name="list[image]" type="text" placeholder="enter image url">
        <br></br>
        <input name="list[price]"  type="number" placeholder="enter price">
        <br></br>
        <input  name="list[country]" type="text" placeholder="enter country name">
        <br></br>
        <input  name="list[location]" type="text" placeholder="enter location">
        <br></br>
        <button>add</button>
    </form>
    <a href="/listings"><button>go back</button></a>
</body>
