<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cairbnb</title>
</head>
<body>
    <form method="post" action="/listings">
        <input type="text" name="title" placeholder="enter title">
        <br>
        <textarea name="description" placeholder="enter description"></textarea>
        <br>
        <input type="text" name="image" placeholder="enter image url">
        <br>
        <input name="price"  type="number" placeholder="enter price">
        <br>
        <input  name="country" type="text" placeholder="enter country name">
        <br>
        <input  name="location" type="text" placeholder="enter location">
    </form>
</body>
</html>